#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid hsl(0, 0%, 100%);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    background-color:black;
    color:white;
    font-size:20px;
}
body{
    background-color:aquamarine;
}
h1{
    font-weight: bold;
    font-size:50px;
    font-family: cursive;
}
h4{
    font-size: 30px;
    color:blue;
}
img{
    border-radius:10px;
    padding:10px;
    width: 37%;
    box-shadow:0 6px 8px 0 green;
}
img:hover{
    border-radius:140px;
}
#result1,#result2,#result3{
    display:inline;
    padding:10px;
}